body {
  margin-left: 40px;
  margin-right: 40px;
}

/* 전체 배경 핑크색, div id = "sales"==># 으로 접근 */
div#sales {
  background-color: #ffc6bc;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  margin: 10px 0px 0px 0px;
  padding: 0px;
  border: 5px solid #995848;
}
/* 핑크색 위에 글자색, div의 saleItem은 class 이므로 div.saleItem으로 접근 */
div.saleItem {
  font-family: Verdana, Helvetica, sans-serif;
  color: #313131;
  padding: 10px;
}

/* 이 후 세개가 함께 나와야 치례대로 행의 색이 변경됨, 두번째행 노란색 */
div.saleItem:nth-child(2n) {
  background-color: #e9e992;
  /* 추가, 테두리색 보이도록 설정 */
  margin: 10px; 
}

/* 홀수 설정  */
div.saleItem:nth-child(2n+1) { 
  /* 홀수색 노란색 설정  */
  background-color: #d7ffd9;
  /* 테두리색이 보이도록 설정  */
  margin: 10px;
}
div.saleItem:first-child {
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

div.saleItem:last-child {
  -webkit-border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}